<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MR_Images_To_PDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MR_Images_To_PDF.Properties.Settings>
            <setting name="LetterFormat" serializeAs="String">
                <value>A4</value>
            </setting>
            <setting name="MarginTop" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MarginBottom" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MarginLeft" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MarginRight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Vertical" serializeAs="String">
                <value>True</value>
            </setting>
        </MR_Images_To_PDF.Properties.Settings>
    </userSettings>
</configuration>